{% extends "base.html" %}

{% block title %} {{ ator.nome }} {% endblock %}

{% block link %} ../static/css/atores/style.css {% endblock %}

{% block content %}
<section class="ator_page">
    <div class="ator_info">
        <img src="{{ url_for('static', filename='img/ator/' ~ imagem_ator) }}" 
        alt="{{ ator.nome }}">
        <h1>{{ ator.nome }}</h1>
        <h3>Idade: </h3>
        <p>{{ ator.idade }} anos</p>
        <h3>Personagens:</h3>
        <ul>
            {% for atuacao in ator.atuacoes %}
                {% if atuacao.personagem %}
                    <li>{{ atuacao.personagem }} - {{ atuacao.filme.titulo }}</li>
                    {% endif %}
                {% else %}
                    <li>Personagem não especificado</li>
                {% endfor %}
        </ul>

    </div>

    <div class="ator_filmes">
        <h3>Filmografia</h3>
        <ul>
            {% for filme in filmes %}
                <li>
                    <a href="{{ url_for('main.series', filme_id=filme.id) }}">
                        {{ filme.titulo }}
                    </a>
                </li>
            {% else %}
                <li>Nenhum filme encontrado para este ator.</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}