{% extends "base.html" %}
    
{% block title %} Avaliar: {{ filme.titulo }} {% endblock %}

{% block link %} ../static/css/avaliar.css {% endblock %}

{% block content %}
    <form method="POST">
        <h2>Avaliar {{ filme.titulo }}</h2>

        <div class="rating">
            <input type="radio" id="star5" name="nota" value="5"><label for="star5" title="5 estrelas"></label>
            <input type="radio" id="star4" name="nota" value="4"><label for="star4" title="4 estrelas"></label>
            <input type="radio" id="star3" name="nota" value="3"><label for="star3" title="3 estrelas"></label>
            <input type="radio" id="star2" name="nota" value="2"><label for="star2" title="2 estrelas"></label>
            <input type="radio" id="star1" name="nota" value="1"><label for="star1" title="1 estrela"></label>
        </div>

        <label for="comentario">Comentário:</label>
        <textarea id="comentario" name="comentario" placeholder="Escreva sua opinião..."></textarea>

        <button type="submit">Salvar Avaliação</button>
    </form>
{% endblock %}
