<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paginas_cadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atores/atores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filmes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/series.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todos_atores.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/erros_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    {% block link %}{% endblock %}
    <title>{% block title %} Pipoca Flix {% endblock %}</title>
</head>
<body>
    <header>
        <div class="container--header">
            <label class="remover" for="search--toggle"><i class="fa-solid fa-magnifying-glass icon-pesquisar"></i></label>
            <input type="checkbox" id="search--toggle" hidden>
            <form id="search-form" autocomplete="off" class="form--search">
                <input type="text" id="search-input" placeholder="Buscar filmes..." />
                <div id="search-suggestions" class="suggestions"></div>
            </form>
            <div class="container--header__perfil">
                {% if current_user.is_authenticated %} 
                    <img src="{{ current_user.foto_url }}" alt="Perfil" class="perfil-icone logado" onclick="toggleMenu()">
                    <div class="header__perfil-menu" id="perfilMenu">
                        <div class="header__perfil-info">
                        <img src="{{ current_user.foto_url }}" alt="Foto de perfil" class="header__perfil-foto">
                        <span class="header__perfil-nome">{{ current_user.nome }}</span>
                        </div>
                        <hr>
                        <a href="/perfil-geral"><div class="flex"><i class="fa-solid fa-user icons"></i> <p>Ver Perfil</p></div></a>
                        <a href="/editar-perfil"><div class="flex"><i class="fa-solid fa-pencil icons"></i> <p>Editar Perfil</p></div></a>
                        <a href="/logout"><div class="flex"><i class="fa-solid fa-door-closed icons"></i> <p>Logout</p></div></a>
                    </div> 
                    {% else %}
                    <div class="icon-circle"><i class="fa-solid fa-user perfil-icone" onclick="toggleMenu()"></i></div>
                    <div class="header__perfil-menu" id="perfilMenu">
                        <div class="header__perfil-info-header">
                        <div class="header__perfil-icon-circle"><i class="fa-solid fa-user perfil-icone" onclick="toggleMenu()"></i></div>
                        <span class="header__perfil-nome">{{ current_user.nome }}</span>
                        </div>
                        <hr>
                        <a href="/login"><div class="flex"><i class="fa-solid fa-door-open icons"></i> <p>logar</p></div> </a>
                    </div>
                {% endif %}
            </div>
            <div class="menu-lateral">
                <a href="javascript:void(0)" class="btn-fechar">&times;</a>
                <a href="{{ url_for('main.listar_filmes') }}"> FILMES </a>
                <a href="{{ url_for('main.listar_series') }}"> SÉRIES </a>
                <a href="{{ url_for('main.listar_atores') }}"> ATORES </a>
            </div>
            <i class="fa-solid fa-bars header__menu"></i>
        </div>
        <a class="header__logo" href="{{ url_for('main.index') }}">LOGO</a>
    </header>
    <main>
        {% block content %} {%endblock %}
    </main>
    <footer class="footer">
        <div class="container--footer">
    <!-- Logo e descrição -->
            <div class="footer__section">
                <h2 class="footer__logo">LOGO</h2>
                <p class="footer__description">Explore os melhores filmes, séries e trailers em um só lugar.</p>
            </div>

    <!-- Navegação -->
            <div class="footer__section">
                <h3 class="footer__title">Navegação</h3>
                <ul class="footer__links">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Em Alta</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Minha Conta</a></li>
                </ul>
            </div>

    <!-- Redes sociais -->
            <div class="footer__section">
                <h3 class="footer__title">Descubra mais</h3>
                <div class="footer__social">
                    <a href="#">TikTok</a>
                    <a href="#">Twitter</a>
                    <a href="#">Instagram</a>
                    <a href="#">YouTube</a>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            &copy; 2025 PipocaFlix. Todos os direitos reservados.
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/e354a8dc68.js" crossorigin="anonymous" rel="preconnect"></script>
    <!-- geralmente no final do body -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="../static/series/script.js"></script>
</body>
</html>