{% extends "base.html" %}

{% block title %} Alterar dados do perfil {% endblock %}

{% block link %} ./static/css/editar_perfil.css {% endblock %}

{% block content %}
<section class="editar_perfil">
    <h1>Dados</h1>
    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required>

        <label>Usuário:</label><br>
        <input type="text" name="usuario" required>

        <label>Url da foto:</label><br>
        <input type="text" name="foto_url">

        <label>Descrição:</label><br>
        <input type="text" name="descricao">

        <button type="submit">Editar</button>
    </form>
</section>
{% endblock %}