{% extends "base.html" %}

{% block title %} Todos os filmes {% endblock %}

{% block link %} ./static/css/filmes.css {% endblock %}

{% block content %}
<section class="filmes-series_filtros">
    <h1>Todas os Filmes</h1>
    <form method="GET" action="{{ url_for('main.listar_filmes') }}">
        <label for="ano">Ano:</label>
        <select name="ano">
            <option value="">Todos</option>
            {% for ano in anos %}
                <option value="{{ ano }}">{{ ano }}</option>
            {% endfor %}
        </select>
        <label for="genero">Gênero:</label>
        <select name="genero">
            {% for genero in generos %}
                <option value="{{ genero.nome }}">{{ genero.nome }}</option>
            {% endfor %}    
            </select>
        <label for="ordenar">Ordenar por:</label>
        <select name="ordenar">
            <option value="">Padrão</option>
            <option value="recente">Mais Recentes</option>
            <option value="favoritos">Mais Favoritos</option>
            <option value="avaliacao">Melhor Avaliados</option>
            <option value="alfabetico">Ordem alfabética</option>
        </select>

        <button type="submit">Filtrar</button>
    </form>
</section>

{% if filmes %}
    <section class="filmes-series_page">
        <div class="filmes-series_grid">
            {% for filme in filmes %}
            <div class="filmes-series_card">
                <img src="../static/img/series/{{ filme.id }}/Capa.webp" alt="Capa">
                <h2>{{ filme.titulo }}</h>
                <p>{{ filme.sinopse }}</p>
                <a href="{{ url_for('main.series', filme_id=filme.id) }}">Ver Detalhes</a>
            </div>
            {% endfor %}
        </div>
    </section>
{% else %}
    <p>Nenhum filme encontrado.</p>
{% endif %}
{% endblock %}