{% extends "base.html" %}

{% block title %} Todas as series {% endblock %}

{% block link %} ./static/css/filmes.css {% endblock %}

{% block content %}
<section class="filmes_page">
    <h1>Todos os Filmes</h1>
    <div class="filmes_grid">
        {% for filme in filmes %}
        <div class="filme_card">
            <img src="../static/img/series/{{ filme.id }}/Capa.webp" alt="Capa">
            <h2>{{ filme.titulo }}</h2>
            <p>{{ filme.sinopse }}</p>
            <a href="{{ url_for('main.series', filme_id=filme.id) }}">Ver Detalhes</a>
        </div>
        {% else %}
        <p>Nenhum filme encontrado.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}