{% extends "base.html" %}

{% block title %} Página Inicial {% endblock %}

{% block link %} ../static/css/index.css {% endblock %}

{% block content %}
    <section class="banner">
        <div class="banner__container">
            <button class="play-button">
                <div class="play-button__triangle"></div>
            </button>
            <img class="banner__img" src="../static/img/JurassicWorld.webp">
        </div>
        <div class="banner__description">
            <div class="banner__movie">
                <img class="banner__min-img" src="../static/img/min-Jurassic.jpg">
            </div>
            <div class="banner__caption">
                <div>
                    <p class="banner__title">Jurassic World: Rebirth</p>
                    <p class="banner__subtitle">Gareth Edwards</p>
                </div>
                <div class="banner__database">
                    <div class="banner__database-star">
                        <i class="fa-solid fa-star banner__star"></i>
                        <p class="banner__star-number">545</p>
                    </div>
                    <div class="banner__database-comments">
                        <i class="fa-solid fa-comments banner__comments"></i>
                        <p class="banner__comments-number">120</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">FILMES EM ALTA</h2>
            </div>
            <a href="{{ url_for('main.listar_filmes') }}" class="subtitle">Ver tudo ></a>
        </div>
        <div class="carrossel--main">
            <ul class="carrossel-interno__filmes">
                {% for filme in filmes %}
                    <li  class="carrossel--filmes">
                        <span class="numeracao">{{ loop.index }}</span>
                        <a href="{{ url_for('main.series', filme_id=filme.id) }}">
                            <img src="../static/img/series/{{ filme.id }}/Capa.webp" alt="Imagem do filme {{filme.titulo}}" class="carrossel--capa">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">ATORES EM ALTA</h2>
            </div>
            <a href="{{ url_for('main.listar_atores') }}" class="subtitle">Ver tudo ></a>
        </div>
        <div class="carrossel--main">
            <li class="carrossel-interno__atores">
                {% for item in atores %}
                    <ul class="carrossel--atores">
                        <a href="{{ url_for('main.pagina_ator', ator_id=item.id) }}">
                            <img src="../static/img/ator/{{item.nome}}.jpg" alt="Foto do ator {{item.nome}}" class="carrossel--ator">
                        </a>
                    </ul>
                {% endfor %}
            </li>
        </div>
    </section>

    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">SÉRIES EM ALTA</h2>
            </div>
            <a href="{{ url_for('main.listar_series') }}" class="subtitle">Ver tudo ></a>
        </div>
        <div class="carrossel--main">
            <ul class="carrossel-interno__filmes">
                {% for serie in series %}
                    <li  class="carrossel--filmes">
                        <span class="numeracao">{{loop.index}}</span>
                        <a href="{{ url_for('main.series', filme_id=serie.id) }}">
                            <img src="../static/img/series/{{ serie.id }}/Capa.webp" alt="Imagem do filme {{serie.titulo}}" class="carrossel--capa">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% if current_user.is_authenticated %}
    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">SEUS FAVORITOS</h2>
            </div>
        </div>
        <div class="carrossel--main">
            <ul class="carrossel-interno__filmes">
                {% for serie in lista %}
                    <li  class="carrossel--filmes">
                        <span class="numeracao">{{serie.id}}</span>
                        <a href="{{ url_for('main.series', filme_id=serie.id) }}">
                            <img src="../static/img/ator/{{serie.nome}}.jpg" alt="Imagem do filme {{serie.titulo}}" class="carrossel--capa">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% else %}
    <section class="chamada">
        <div class="chamada--header">
            <div class="chamada--text">
                <div class="destaque"></div>
                <h2 class="title">SUA LISTA</h2>
            </div>
        </div>
        <div class="chamada--main">
            <i class="fa-solid fa-bookmark chamada__fav"></i>
            <p class="subtitle t2">Faça login para acessar sua lista</p>
            <a href="{{url_for('main.login')}}"><button class="button">FAZER LOGIN</button></a>
        </div>
    </section>
{% endif %}

<section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">EM CARTAZ</h2>
            </div>
        </div>
        <div class="carrossel--main">
            <ul class="carrossel-interno__filmes">
                {% for filme in cartaz %}
                    <li  class="carrossel--filmes">
                        <span class="numeracao">{{loop.index}}</span>
                        <a href="{{ url_for('main.filmes', filme_id=filme.id) }}">
                            <img src="../static/img/series/{{ filme.id }}/Capa.webp" alt="Imagem do filme {{filme.titulo}}" class="carrossel--capa">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}