{% extends "base.html" %}

{% block title %} Novo Ator {% endblock %}

{% block content %}
<section class="novo-ator_page">
    <h2>Cadastrar Novo Ator</h2>
    <form class="novo-ator_form" method="POST" action="{{ url_for('admin.novo_ator') }}">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <label>Data de nascimento:</label>
        <input type="date" name="data_nascimento" required>

        <label>Filme:</label>
            <select name="filmes" required>
                {% for filme in filmes %}
                    <option value="{{ filme.id }}">{{ filme.titulo }}</option>
                {% endfor %}
            </select>

        <label>Personagem:</label>
        <input type="text" name="personagem" required>

        <button type="submit" name="acao" value="criar">Cadastrar Ator</button>
    </form>

    <hr>
    <h2>Adicionar Filme a Ator Existente</h2>
    <form method="POST" action="{{ url_for('admin.novo_ator') }}">
        <label>Selecione o ator:</label>
        <select name="ator_existente" required>
            {% for ator in atores %}
                <option value="{{ ator.id }}">{{ ator.nome }}</option>
            {% endfor %}
        </select>

        <label>Filmes para adicionar:</label>
        <select name="novos_filmes" required>
            {% for filme in filmes %}
                <option value="{{ filme.id }}">{{ filme.titulo }}</option>
                {% endfor %}
        </select>

        <label>Nome do personagem:</label>
        <input type="text" name="personagem" required>

        <button type="submit" name="acao" value="adicionar_filme">Adicionar Filmes ao Ator</button>
    </form>
</section>
{% endblock %}