{% extends "base.html" %}

{% block title %} Novo Filme {% endblock %}

{% block content %}
<section class="novo-filme_page">
    <h2>Adicionar Novo Filme</h2>
    <form method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="5" required></textarea>

        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo" required>
            <option value="filme">Filme</option>
            <option value="serie">Série</option>
        </select>

        <label for="lancamento">Em cartaz:</label>
        <select name="lancamento" id="lancamento" required>
            <option value="True">Sim</option>
            <option value="False">Não</option>
        </select>

        <label for="temporada">Temporadas:</label>
        <input type="number" id="temporada" name="temporada" step="1" min="1" max="50" required>  

        <label>Data de lançamento:</label>
        <input type="date" name="data_lancamento" required>   
        

        <label>Generos para adicionar:</label>
        <select name="generos" id="generos">
            {% for genero in generos %}
                <option value="{{ genero.id }}">{{ genero.nome }}</option>
            {% endfor %}
        </select>

        <label>Trailer do Filme</label>
        <input type="text" name="trailer">

        <button type="submit">Salvar Filme</button>
    </form>

    <div class="paginacao"> 
        <div class="voltar-page">
            <a  href="{{ url_for('main.index') }}">← Voltar para a lista</a>
        </div>
    
        <div class="proxima-page">
            <a  href="{{ url_for('admin.lista_filmes') }}">Gerenciar Filmes -></a>
        </div>
    </div>
    

</section>
{% endblock %}