{% extends "base.html" %}

{% block title %} Perfil {% endblock %}

{% block link %} ../static/css/perfil.css {% endblock %}

{% block content %}

{% if current_user.is_authenticated %} 
    <!--<p>Nome: {{ current_user.nome }}</p>
    <p>Usuário: {{ current_user.usuario }}</p>
    <img src="{{ current_user.foto_url }}" alt="foto de perfil">
    <p>Descrição: <br> {{ current_user.descricao }} </p>

    <a href="{{ url_for('main.edit_profile') }}">Editar perfil</a>
    <a href="{{ url_for('main.logout') }}">Logout</a>-->

    <div class="perfil-header">
        <div class="banner">
            <img src="../static/img/perfil/Banner.jpg" alt="banner do perfil">
        </div>

        <div class="avatar">
            <img class="avatar__img" src="{{ current_user.foto_url }}" alt="Foto de perfil">
            <div class="metricas">
                <div class="seguidores">
                    <p class="numb">83</p>
                    <p class="subtitle">seguidores</p>
                </div>
                <div class="seguidores">
                    <p class="numb">42</p>
                    <p class="subtitle">seguindo</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="perfil-info">
        <div class="user-details">
            <h2>{{ current_user.usuario }}</h2>
            <p class="user-details__subtitle">{{ current_user.nome }} • em pipocaflix desde 2025</p>
            <nav class="perfil-nav">
                <a href="#" class="active">Visão geral</a>
                <a href="#">Críticas</a>
                <a href="#">Filmes</a>
                <a href="#">Atores</a>
                <a href="#">Assistindo</a>
            </nav>
        </div>
    </div>

    <div class="main-film">
        <img class="filme-fav" src="../static/img/series/1/Capa.webp" alt="filme favorito">
        <div class="movie__info">
            <p class="main-film__aviso">FILME FAVORITO</p>
            <p class="main-film__title">Nome do filme</p>
            <p class="main-film__subtitle">Autor</p>
        </div>
    </div>
    <button class="button">ADICIONAR NA LISTA</button>

    <div class="perfil-stats">
        <div>
            <span>FILMES/SERIES</span>
            <h3>{{ qtd_filmes }}</h3>
        </div>
        <div>
            <span>ATORES</span>
            <h3>{{ qtd_atores }}</h3>
        </div>
    </div>
    <div class="atores-fav-container">
        {% for actor in atores %}
            <img class="atores_fav" src="../static/img/ator/{{actor.nome}}.jpg" alt="atores favoritos">
        {% endfor %}
    </div>
{% else %}
    <p>Você não está autenticado.</p>
{% endif %}

{% endblock %}