{% extends "perfil.html" %}

{% block title %} Visão Geral {% endblock %}

{% block filmes %} active {% endblock %}

{% block perfil_content %}
    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">FILMES FAVORITOS</h2>
            </div>
        </div>
        <div class="carrossel--main">
            <li class="carrossel-interno__atores">
                    {% if filmes | length > 0 %}
                    {% for movie in filmes %}
                        <ul class="carrossel--series">
                            <img src="../static/img/series/{{movie.id}}/Capa.webp" alt="Foto do ator {{movie.nome}}" class="carrossel--ator atores_fav">
                            <div class="nome--container">
                                <p class="ator--nome">{{movie.titulo}}</p>
                            </div>
                        </ul>
                        {% endfor %}
                    {% else %}
                        <p>O usuário não possui filmes favoritos</p>
                    {% endif %}
                </li>
            </div>
    </section>

    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title"> FILMES CONCLUÍDOS </h2>
            </div>
        </div>
        <div class="carrossel--main">
            <li class="carrossel-interno__atores">
                {% if assistido%}
                    {% for movie in assistido %}
                        <ul class="carrossel--series">
                            <img src="../static/img/series/{{movie.id}}/Capa.webp" alt="Foto do ator {{movie.titulo}}" class="carrossel--ator atores_fav">
                            <div class="nome--container">
                                <p class="ator--nome">{{movie.titulo}}</p>
                            </div>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Esse usuário não possui filme marcado como concluído</p>
                {% endif %}
            </li>
        </div>
    </section>

    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title">ASSISTINDO </h2>
            </div>
        </div>
        <div class="carrossel--main">
            <li class="carrossel-interno__atores">
                {% if assistindo%}
                    {% for movie in assistindo %}
                        <ul class="carrossel--series">
                            <img src="../static/img/series/{{movie.id}}/Capa.webp" alt="Foto do ator {{movie.titulo}}" class="carrossel--ator atores_fav">
                            <div class="nome--container">
                                <p class="ator--nome">{{movie.titulo}}</p>
                            </div>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Esse usuário não possui filme marcado como assistindo</p>
                {% endif %}
            </li>
        </div>
    </section>

    <section class="carrossel">
        <div class="carrossel--header">
            <div class="carrossel--text">
                <div class="destaque"></div>
                <h2 class="title"> FILMES NA LISTA </h2>
            </div>
        </div>
        <div class="carrossel--main">
            <li class="carrossel-interno__atores">
                {% if salvo %}
                    {% for movie in salvo %}
                        <ul class="carrossel--series">
                            <img src="../static/img/series/{{movie.id}}/Capa.webp" alt="Foto do ator {{movie.titulo}}" class="carrossel--ator atores_fav">
                            <div class="nome--container">
                                <p class="ator--nome">{{movie.titulo}}</p>
                            </div>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Esse usuário não possui filme na lista</p>
                {% endif %}
            </li>
        </div>
    </section>

{% endblock %}
