{% extends "perfil.html" %}

{% block title %} Visão Geral {% endblock %}

{% block geral %} active {% endblock %}

{% block perfil_content %}
    {% if filmes %}
    <div class="main-film">
        <img class="filme-fav" src="../static/img/series/{{filmes[0].id}}/Capa.webp" alt="filme favorito">
        <div class="movie__info">
            <p class="main-film__aviso">FILME FAVORITO</p>
            <p class="main-film__title">{{filmes[0].titulo}}</p>
        </div>
    </div>
    {% else %}
    {% endif %}
    {% if not current_user.is_authenticated %}
    <button class="button">ADICIONAR NA LISTA</button>
    {% endif %}
    
    <section class="carrossel">
        <div class="carrossel__header">
            <div class="carrossel__text">
                <div class="destaque"></div>
                <h2 class="title">ATORES FAVORITOS</h2>
            </div>
        </div>
        <div class="carrossel__main">
            <li class="carrossel-interno__atores">
                {% for actor in atores %}
                    <ul class="carrossel__atores">
                        <img src="../static/img/ator/{{actor.nome}}.jpg" alt="Foto do ator {{actor.nome}}" class="carrossel__ator atores_fav">
                        <div class="nome--container">
                            <p class="ator--nome">{{actor.nome}}</p>
                        </div>
                    </ul>
                {% endfor %}
            </li>
        </div>
        <div class="container--carrossel-button">
            <button class="carrossel-btn prev" aria-label="Anterior">&#10094;</button>
            <button class="carrossel-btn next" aria-label="Próximo">&#10095;</button>
        </div>
    </section>

    <section class="carrossel">
        <div class="carrossel__header">
            <div class="carrossel__text">
                <div class="destaque"></div>
                <h2 class="title">FILMES FAVORITOS</h2>
            </div>
        </div>
        <div class="carrossel__main">
            <li class="carrossel-interno__atores">
                {% if filmes %}
                {% for movie in filmes %}
                    <ul class="carrossel--series">
                        <img src="../static/img/series/{{movie.id}}/Capa.webp" alt="Foto do ator {{movie.nome}}" class="carrossel__ator atores_fav">
                        <div class="nome--container">
                            <p class="ator--nome">{{movie.titulo}}</p>
                        </div>
                    </ul>
                {% endfor %}
                {% else %}
                    <p>Esse usuário não possui filmes favoritos</p>
                {% endif %}
            </li>
        </div>
        <div class="container--carrossel-button">
            <button class="carrossel-btn prev" aria-label="Anterior">&#10094;</button>
            <button class="carrossel-btn next" aria-label="Próximo">&#10095;</button>
        </div>
    </section>
{% endblock %}
