{% extends "perfil.html" %}

{% block title %} Visão Geral {% endblock %}

{% block criticas %} active {% endblock %}

{% block perfil_content %}
    <div class="container-comentarios">
        {% for avaliacao in avaliacoes %}
            {% if avaliacao.comentario != "" %}
                <div class="container_critica-perfil">
                    <div class="critica-usuario">
                        <img class="critica-foto" src="../static/img/series/{{avaliacao.filme.id}}/Capa.webp" alt="">
                        <p class="critica-nome">{{avaliacao.filme.titulo}}</p>
                    </div>
                    <div>
                        <p class="critica-nota">⭐ NOTA: {{avaliacao.nota}} </p>
                        <p class="critica-comentario">{{avaliacao.comentario}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
