{% extends "base.html" %}

{% block title %} Todas as Séries {% endblock %}

{% block link %} ./static/css/filmes.css {% endblock %}

{% block content %}
<section class="filmes-series_filtros">
    <h1>Todas as Séries</h1>
    <div class="filmes-series_filtros-form">
        <form method="GET" action="{{ url_for('main.listar_series') }}">
            <label for="ano">Ano:</label>
            <select name="ano">
                <option value="">Todos</option>
                {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                {% endfor %}
            </select>

            <label for="genero">Gênero:</label>
            <select name="genero">
                {% for genero in generos %}
                    <option value="{{ genero.nome }}">{{ genero.nome }}</option>
                {% endfor %}    
            </select>

            <label for="ordenar">Ordenar por:</label>
            <select name="ordenar">
                <option value="">Padrão</option>
                <option value="recente">Mais Recentes</option>
                <option value="favoritos">Mais Favoritos</option>
                <option value="avaliacao">Melhor Avaliados</option>
                <option value="alfabetico">Ordem alfabética</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>
</section>

{% if series %}
<section class="filmes-series_page">
    <div class="filmes-series_grid">
        {% for serie in series %}
        <div class="filmes-series_card">
            <img src="{{ url_for('static', filename='img/series/' ~ serie.id ~ '/Capa.webp') }}" alt="Capa">
            <h2>{{ serie.titulo }}</h2>
            <p>{{ serie.sinopse }}</p>
            <a href="{{ url_for('main.series', filme_id=serie.id) }}">Ver Detalhes</a>
        </div>
        {% endfor %}
    </div>
{% else %}
        <p>Nenhuma série encontrada.</p>
{% endif %}
</section>
{% endblock %}